<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- specifying "file" attribute will MERGE appSettings section in config file with external config file appSettings -->
    <appSettings file="appSettings.config">
      <add key="TestFlag" value="2000"/>
    </appSettings>
  <connectionStrings configSource=""></connectionStrings>
</configuration>